@import "../node_modules/modern-normalize/modern-normalize.css";

:root {
  color: rgba(5, 5, 5, 0.87);
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  min-width: 320px;
  max-width: 400px;
  height: 100vh;
}

@font-face {
  font-family: "BasisGrotesquePro-Bold";
  src: url("./assets/fonts/BasisGrotesquePro-Bold.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BasisGrotesquePro-Medium";
  src: url("./assets/fonts/BasisGrotesquePro-Medium.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BasisGrotesquePro-Regular";
  src: url("./assets/fonts/BasisGrotesquePro-Regular.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}
